name: "Update Snyk Homebrew formula with latest release"
on:
  schedule:
    # Run's once a day
    - cron:  "0 0 * * *"

jobs:
  brew:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x
      - name: Render latest template
        run: |
          ruby render.rb | tee Formula/snyk.rb
      - name: Commit to repository
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
          COMMIT_MSG: |
            Upgraded to latest Snyk version
            skip-checks: true
        run: |
          # Hard-code user config
          git config user.email "gareth@morethanseven.net"
          git config user.name "Gareth Rushgrove"
          git config --get-regexp "user\.(name|email)"
          # Update origin with token
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          # Checkout the branch so we can push back to it
          git checkout master
          git add Formula/snyk.rb
          git commit -m "${COMMIT_MSG}"
          git push origin master
