name: "Update Snyk Homebrew formula with latest release"
on:
  push:
    branches:
      - master
  schedule:
    # Run workflow once a day to grab latest Snyk release
    - cron: "0 0 * * *"
  workflow_dispatch:
  repository_dispatch:
    types:
      - build_and_release

jobs:
  brew:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'schedule' ||
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'repository_dispatch' && github.event.client_payload && github.event.client_payload.release_channel == 'stable')
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.HAMMERHEAD_GITHUB_TOKEN }}
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Render latest template
        run: |
          ruby script/render.rb | tee Formula/snyk.rb
      - name: Lint Ruby Files
        run: |
          gem install rubocop
          rubocop -l
      - name: Commit to repository
        env:
          COMMIT_MSG: |
            Upgraded to latest Snyk version
            skip-checks: true
        run: |
          # Hard-code user config
          git config user.email "team-cli@snyk.io"
          git config user.name "Team CLI"
          git config --get-regexp "user\.(name|email)"
          # Checkout the branch so we can push back to it
          git checkout master
          git add Formula/snyk.rb
          # Only commit and push if we have changes
          git diff --quiet && git diff --staged --quiet || (git commit -m "${COMMIT_MSG}"; git push origin master --force)
